header {
    padding: 5px 20px;
    background-color: #9cdbd9;
    .logo img {
        max-width: 150px;
    }
}
.content {
    margin: 0 50px;
}
.upperbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 10px 50px;
    .language {
        position: relative;
        cursor: pointer;
        .dropdown {
            position: absolute;
            z-index: 9;
        }
    }
}