header {
  padding: 15px 40px;
  display: flex;
  background-color: #9cdbd9;
  justify-content: space-between;
  align-items: center;

  .logo img {
    max-width: 150px;
  }

  nav {
    ul {

      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      gap: 50px;

    }
  }
}

.content {
  margin: 0 50px;
}

.upperbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
  padding: 10px 50px;

  .language {
    position: relative;
    cursor: pointer;

    .dropdown {
      position: absolute;
      z-index: 9;
    }
  }
}


@media screen and (max-width: 767px) {
  header {
    a.logo {
      img {
        max-width: 100px;
      }
    }

    nav ul {
      gap: 10px;
    }
  }
}
