/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
// @include mat-core();

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Quicksand', "Helvetica Neue", sans-serif !important;
}
h1,h2,h3,h4 {
    font-family: 'Source Sans Pro';
}