.resultcontent {
  display: grid;
  grid-template-columns: 300px 2.5% 2.5% 1fr;
  grid-template-areas: "criteria slider spacer results";
  //   grid-template-columns: auto;
  margin-top: 20px;
  transition: all .3s;
  min-height: 300px;

  &.fullscreen {
    // grid-template-columns: 0 2.5% 2.5% 95%;

    .criteria {
      width: 0;
      transform: translateX(-300px);
    }

    .slidecolumn,
    .spacer {
      transform: translateX(-300px);
    }

    .slidecolumn i {
      transform: rotate(180deg);
    }

    .result {
      width: calc(100% + 300px);
      transform: translateX(-300px);
    }
  }

  .criteria {
    width: 300px;
    grid-area: criteria;
    transition: all .3s;
    max-height: 80vh;
    overflow-y: auto;

    .inner {
      margin: 0 5px;

      .mat-slide-toggle {
        height: 49px;
      }
    }

    // background-color: red;
    // ;
    // width: 30%;

    .searchqueries {
      margin-top: 20px;

      .searchquery {
        background-color: #f3f3f3;
        padding: 10px;
        margin: 10px 0;
        position: relative;

        i.smallbutton {
          position: absolute;
          padding: 3px;
          cursor: pointer;
          border-radius: 2px;
          background: #fff;
          box-shadow: 0px 2px 3px -3px black;
          top: 15px;
          right: 5px;
        }
      }
    }
  }

  .slidecolumn {
    // width: 2.5%;
    transition: all .3s;

    // border-right: 1px solid #333;
    box-shadow: 3px 0px 3px -3px #333;
    // padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
      padding: 8px;
      box-shadow: 0px 0px 2px 0px #333;
      transition: all .3;
      cursor: pointer;
    }
  }

  .spacer {
    // width: 2.5%;
    transition: all .3s;

  }

  .result {
    grid-area: results;
    transition: all .3s;

    h2,
    button {
      display: inline-block;
    }

    h2 {
      margin-right: 10px;
    }

    // width: 65%;
    .wrapper {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 49% 49%;
      column-gap: 2%;
      max-height: 75vh;
      overflow-y: auto;
      padding: 0 5px;

      &.onlyone {
        grid-template-columns: 100%;
        // column-gap: 2%;

      }

      .perquery {

        .tableparent {
          max-height: 400px;
          overflow-y: auto;

          // margin-top: 50px;
          table {
            width: 100%;
            table-layout: fixed;

            th:after,
            th:before {
              content: "";
              position: absolute;
              left: 0px;
              width: 100%;
            }

            th:before {
              top: -1px;
              border-top: 1px solid #dddddd;
            }

            th:after {
              bottom: -1px;
              border-bottom: 1px solid #dddddd;
            }
          }
        }
      }
    }

  }
}


// td {
//   position: relative;
// }
@media screen and (max-width: 767px) {
  .resultcontent {

    grid-template-columns: 250px 2.5% 2.5% 1fr;

    .criteria {
      width: 250px;
    }
    &.fullscreen {
  
      .criteria {
        transform: translateX(-250px);
      }
  
      .slidecolumn,
      .spacer {
        transform: translateX(-250px);
      }
  
      .result {
        width: calc(100% + 250px);
        transform: translateX(-250px);
      }
    }
  }  
  .resultcontent .result {
    .wrapper {
      grid-template-columns: 100%;
    }
  }
}