.featured {
  h1 {}

  .cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    margin-bottom: 50px;

    .card {
      height: 200px;
      background: #f3f3f3;
      padding: 20px;
      border-radius: 5px;
    }
  }

}

.paragraph {
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 5%;
}
