<div class="featured">
  <h2>Featured</h2>
  <div class="cards">
    <div class="card" routerLink="/result/1">
      <img src="/assets/gasplot.png" alt="gas plot">
      Gas
    </div>
    <div class="card" routerLink="/result/2">
      <img src="/assets/gasplot.png" alt="gas plot">
      Coal</div>
    <div class="card" routerLink="/result/3">
      <img src="/assets/gasplot.png" alt="gas plot">
      Oil</div>
  </div>
</div>
<div class="paragraph">
  <div class="search">
    <h2>Search</h2>
    <app-autocomplete (selectedoption)="optionselected($event)" [placeholder]="'search'" [options]="topicoptions">
    </app-autocomplete>
    <!-- <button routerLink="/result" mat-flat-button>Search</button> -->
  </div>
  <div class="info">
    <h2>Info</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quod dignissimos corporis libero cupiditate
      maiores deserunt accusamus voluptates molestiae, animi fuga perspiciatis ad tempore quasi debitis nisi?
      Corporis,
      suscipit ad? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quod dignissimos corporis libero
      cupiditate
      maiores deserunt accusamus voluptates molestiae, animi fuga perspiciatis ad tempore quasi debitis nisi?
      Corporis,
      suscipit ad? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quod dignissimos corporis libero
      cupiditate
      maiores deserunt accusamus voluptates molestiae, animi fuga perspiciatis ad tempore quasi debitis nisi?
      Corporis,
      suscipit ad?
    </p>
  </div>
</div>
